@font-face{
    font-family: transnpack;
    src: url("../css/fonts/sailec.otf");
}
@font-face{
    font-family: run;
    src: url("../css/fonts/run.ttf");
}
*{
    font-family: transnpack;
}
body{
    overflow-x: hidden;
}
.btn-primary {
    color: #fff;
    background-color: #1056a6;
    border-color: #1056a6;
}
.btn{
    border-radius: 3px;
    text-transform: uppercase;
}
.navbar{
    font-size: 15px;
    background-color: #fff;
}
.navbar-light .navbar-nav .login-btn{
    color: #333;
}
.btn,
.btn:active,
.btn:focus,
.btn:active:focus{
    border: none;
    box-shadow: none;
    font-size: 13px;
}
.navbar-light .navbar-nav .account-btns{
    font-size: 14px;
}
.navbar-light .navbar-nav .nav-link:hover{
    color: #1056a6;
}
.navbar-light .navbar-nav .nav-link.active{
    color: #1056a6;
}
#slider{
    height: 750px;
}
#how-it-works{
    text-align: center;
}
#how-it-works .circle {
    border: 0.1em solid #1056a6;
    border-radius: 100%;
    height: 3em;
    width: 3em;
    text-align: center;
    background: #1056a6;
}

#how-it-works .circle p {
	margin-top: 0.10em;
    font-size: 1.2em !important;
    color: #fff !important;
    line-height: 2.2em !important;
}
.slider{
    height: 750px;
    width: 740px;
    position: absolute;
    right: 0;
    overflow: hidden;
}
.slider div{
    height: 600px;
    position: relative;
    right: -50px;
    background: url("../img/home.png") center no-repeat;
    background-size: contain;
}
.left-slider{
    height: 800px;
    width: 100%;
    position: absolute;
    right: auto;
    left: 0;
    top: 55px;
    z-index: -1;
    background: url("../img/slider.png") left no-repeat;
    background-size: contain;
}
h1{
    font-size: 50px;
    margin-top: 150px;
    font-weight: 900;
}
h2{
    color: #1056a6;
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
}
h1 span, h2 span, h3 span,
h4 span, h5 span, h6 span{
    color: #1565c0;
}
p{
    font-size: 16px;
    color: #808fa3 !important;
    font-weight: normal;
}
#slider h1,
#slider p{
    color: #000;
}
.slider-btns{
    font-size: 13px;
    margin: 30px 0 0 15px;
    padding: 10px 20px;
}
#how-it-works{
    position: relative;
    z-index: 3;
}
#how-it-works img{
    width: 100%;
}
.how-contents p{
    font-size: 13px;
}
.mute-text{
    color: #afb3b5;
}
#pricing{
    height: 850px;
    position: relative;
    bottom: 0px;
    z-index: 2;
    padding-top: 5px;
    background: #f2fafb url("../img/taylor-packages.png") center left no-repeat;
    background-size: contain;
}
#pricing .tool-img{
    position: absolute;
    right: 0;
    padding: 0;
    height: 850px;
    text-align: right;
}
#pricing .tool-img img{
    height: 100%;
}
#pricing .container{
    margin-top: 280px;
}
#pricing ul{
    padding: 0;
}
#pricing ul i{
    margin-right: 5px;
    color: #1056a6;
}
#pricing ul li{
    list-style: none;
    line-height: 1.8;
    color: #afb3b5;
}
#pricing .container p{
    font-size: 17px;
}
#pricing .buy-btn{
    width: 150px;
}

.lang-bg{
    width: 100%;
    position: absolute;
    z-index: 1;
    margin-top: 750px;
}

#platform{
    padding-top: 200px;
}
#platform img{
    width: 100%;
    position: relative;
}

#languages{
    padding-top: 28%;
    position: relative;
    z-index: 2;
}
#languages .container{
    position: relative;
    z-index: 3;
}
#languages table img{
    width: 30px;
    display: inline-block;
}
#languages table td{
    padding: 5px 0;
    color: #afb3b5;
}

#map{
    padding-top: 20%;
    position: relative;
    z-index: 3;
}
#map img{
    width: 100%;
    position: relative;
}

#contact{
    padding-top: 20px;
    padding-bottom: 50px;
}
#contact .form-group{
    width: 100%;
    margin: auto;
    margin-bottom: 1rem;
}
#contact form input,
#contact form textarea{
    background-color: #d3dfe26e;
    resize: none;
}

hr{
    width: 100%;
}

footer{
    position: absolute;
    width: 100%;
    background-color: #fff;
    padding: 20px 0 50px 0;
}
footer .footer-logo{
    display: inline-block;
}
footer ul{
    float: right;
    padding: 0;
    padding-top: 10px;
}
footer ul li{
    display: inline-block;
    list-style: none;
    text-align: center;
    margin-right: 25px;
}
footer ul li a{
    color: #afb3b5;
    text-decoration: none;
}
footer ul li a:hover{
    color: #1056a6;
    text-decoration: none;
}

.ty2,
.ty3{
    display: none;
}
.login-bg{
    height: 828px;
    position: relative;
    left: 0;
    top: 0;
    background: linear-gradient(to right, #1056a6 , rgba(94,119,255,0.65));
}
.signup-content,
.login-content,
.reset-content{
    color: #000;
    position: relative;
    right: 0;
}

.alert{
    width: 95%;
    display: none;
    position: absolute;
    top: 20px;
}

.signup-content .container{
    margin-top: 120px;
}
.login-content .container,
.reset-content .container{
    margin-top: 120px;
}

.reset-content small span,
.reset-content h5{
    font-weight: 900;
}
.reset-content small span{
    color: #1056a6;
}
.reset-content small .text-dark{
    color: #000;
    font-weight: 900;
}
.reset-content hr{
    width: 100%;
    margin-top: 50px;
}

.signup-account h1{
    font-size: 73px;
    font-family: run;
    line-height: 0.8;
    letter-spacing: 8px;
    margin-top: 230px;
}
.signup-account h1 span{
    font-size: 30px;
    font-family: transnpack;
    letter-spacing: normal;
}

.signup-account p{
    font-size: 16px;
    opacity: 0.8;
}
.reset-content p{
    color: #000;
    font-size: 15px;
}
.signup-account .login-qoute{
    margin-top: 120px;
    font-size: 15px;
    font-style: italic;
}

.signup-account .login-author{
    font-size: 15px;
    padding-left: 10px;
}

.qoute-2,
.qoute-3,
.qoute-4{
    display: none;
}

.login-controllers{
    position: absolute;
    width: 90%;
    bottom: 200px;
    text-align: center;
    cursor: default;
}
.login-controllers div{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #fff;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    opacity: 0.6;
}
.login-controllers div:hover{
    opacity: 0.8;
}
.login-controllers .active{
    opacity: 1;
}
.login-controllers .active:hover{
    opacity: 1;
}

.form-control::placeholder{
    color: #aaa;
}
.form-control:focus{
    border-color: #1056a6;
    box-shadow: none;
}

.form-group span{
    color: #f00;
}
.custom-control-label:before{
    background-color:#fff;
    border: 1px solid #1056a6;
    box-shadow: none;
  }
.custom-control-label{
    font-size: 15px;
}
.custom-control-label a{
    color: #000;
    text-decoration: underline;
}
.signup-btn,
.signup-btn:focus,
.signup-btn:active,
.signup-btn:active:focus{
    font-size: 18px;
    width: 160px;
    padding: 7px 0;
    margin: 20px auto;
    display: block;
}
.reset-btn,
.reset-btn:focus,
.reset-btn:active,
.reset-btn:active:focus{
    width: 250px;
    margin-top: 30px;
    font-size: 15px;
}
.already-btn a{
    font-size: 13px;
    color: #000;
    text-decoration: underline;
}

small a{
    color: #000;
    text-decoration: none;
}
small a:hover{
    color: #000;
    text-decoration: none;
}


.dashboard h4{
    margin-top: 50px;
    font-weight: 800;
}

.dashboard .sidebar{
    height: 720px;
    padding: 0;
    background-color: #fff;
}

.avatar{
    height: 80px;
    width: 80px;
    margin: auto;
    margin-top: 120px;
    border-radius: 50%;
}

.list-group{
    width: 100%;
    margin-top: 50px;
    margin-left: 0;
    border-radius: unset;
}

.list-group .list-group-item{
    color: #555;
    padding: 20px 10px;
    border-radius: unset;
    text-align: left;
    background-color: transparent;
    text-transform: capitalize;
    font-weight: 500;
}
.list-group .list-group-item:hover{
    background-color: #eee;
}

.list-group .list-active{
    color: #fff;
    background: linear-gradient(270deg, rgba(94,119,255,0.65) 0%, #1056a6 100%);
}

.list-group .list-group-item img{
    height: 20px;
    margin-left: 30px;
    margin-right: 10px;
}

.user-welcome,
.user-date{
    font-size: 13px;
}
.user-welcome{
    margin-top: 5px;
    font-weight: 700;
    color: #1056a6;
}
.user-name{
    margin-top: 15px;
    font-weight: 900;
    font-size: 16px;
}

.dashboard .content{
    min-height: 720px;
    padding-bottom: 50px;
    background-color: #F5F7FD;
}

.delivery{
    min-height: 390px;
    padding: 0;
    border-radius: 5px;
}
.finished-table{
    height: auto;
}

.badge-pill{
    font-size: 14px;
    padding: 5px;
    padding-top: 18px;
    background-color: #1056a6;
    width: 50px;
    height: 50px;
    word-break: keep-all;
}


.borderless td{
    border: none;
    font-size: 13px;
}
.borderless .table-head{
    color: #333;
    font-weight: 800;
    font-size: 14px;
    cursor: default;
}
.borderless tr:hover{
    background-color: #F5F7FD;
}
.borderless .table-head:hover{
    background-color: #fff;
}
.table-soon{
    color: #1056a6;
}
.borderless td img{
    width: 25px;
}
.borderless td .fa-file-download{
    color: #1056a6;
    font-size: 25px;
    cursor: pointer;
}
.borderless td .fa-file-download:hover{
    color: #5469df;
}

.c-projects,
.c-projects:focus,
.c-projects:active,
.c-projects:active:focus{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    padding: 20px;
    border-radius: 0 0 5px 5px;
    text-transform: none;
    background: linear-gradient(270deg, rgba(94,119,255,0.65) 0%, #1056a6 100%);
    position: absolute;
    bottom: 0;
}

.c-downloads{
    background: linear-gradient(90deg, #AB9FE5 0%, #F6DCFC 100%);
}
.c-downloads:hover{
    background: linear-gradient(90deg, #AB9FE5 0%, #AB9FE5 0%);
}


.c-downloads:focus,
.c-downloads:active,
.c-downloads:active:focus{
    background: linear-gradient(90deg, #AB9FE5 0%, #F6DCFC 100%);
}

.packages{
    height: auto;
}
.packages span{
    font-size: 13px;
}
.packages hr{
    width: 100%;
}
.process{
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 16px;
}
.process span{
    text-transform: none;
}
.process img{
    width: 25px;
}

.dash-progress-bar{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
}
.dash-progress-bar .progress-color{
    width: 68%;
    height: 100%;
    position: absolute;
    right: 0;
    z-index: 2;
    background: #1056a6;
}
.dash-progress-bar .progress-white{
    width: 50px;
    height: 50px;
    margin: 5px;
    position: absolute;
    z-index: 3;
    border-radius: 50%;
    background-color: #fff;
}


.dash-progress{
    font-weight: 800;
    text-align: center;
    font-size: 30px;
    line-height: 0.8;
    text-transform: capitalize;
    display: inline-block;
}
.dash-progress span{
    font-size: 14px;
}

.packages ul{
    width: 100%;
    padding: 0;
    cursor: default;
}
.packages ul li{
    font-size: 13px;
    display: inline-block;
    margin-left: 15px;
    padding-right: 15px;
    list-style: none;
    cursor: pointer;
}

.packages ul li:hover{
    color: #1056a6;
    border-bottom: 2px solid #1056a6;
}
.packages ul .active,
.packages ul .active:hover{
    color: #1056a6;
    border-bottom: 2px solid #1056a6;
}
.package-table{
    display: none;
}

.see-more-btn{
    margin: 10px auto;
    text-align: center;
    font-size: 14px;
    color: #1056a6;
    cursor: pointer;
    text-decoration: underline;
}



.status-cirlce{
    height: 10px;
    width: 10px;
    margin-right: 5px;
    display: inline-block;
    border-radius: 50%;
}
.status-c{
    background-color: #0f0;
}

.status-i{
    background-color: #f80;
}

.status-p{
    background-color: #d00;
}

.dashboard .profile,
.dashboard .payments,
.dashboard .finished-requests,
.dashboard .create-request{
    height: 800px;
    display: none;
    background-color: #F5F7FD;
    position: absolute;
    right: 10px;
    z-index: 10;
}
.dashboard .payments,
.dashboard .finished-requests,
.dashboard .create-request{
    position: relative;
    right: 0;
    z-index: 9;
}
.dashboard .finished-requests,
.dashboard .payments,
.dashboard .create-request{
    height: auto;
}
.dashboard .profile{
    background-color: rgba(255,255,255,0.8);
}
.profile-content{
    height: 800px;
    padding: 0;
    background-color: #fff;
}

.avatar-large{
    height: 250px;
    width: 100%;
    box-shadow: inset 0 0 50px #000;
    transition: 0.5s;
}
.avatar-large:hover{
    box-shadow: inset 0 0 80px #000;
    transition: 0.5s;
}
.profile-name{
    padding: 150px 0 0 20px;
    font-size: 25px;
    color: #fff;
}
.edit-avatar{
    height: 40px;
    width: 40px;
    position: absolute;
    top: 200px;
    right: 20px;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}

.profile-form{
    padding: 0;
    font-size: 13px;
}

.profile-form span{
    font-size: 15px;
    font-weight: 800;
}

.profile-form form label{
    margin-bottom: 0;
}

.profile-form form input{
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #aaa;
}

.profile-form form .full-name{
    color: #1056a6;
}
.profile-btns{
    width: 220px;
    margin: auto;
    margin-top: 25px;
}

.profile-btn,
.profile-btn:focus,
.profile-btn:active,
.profile-btn:active:focus{
    width: 100px;
    font-size: 13px;
    display: inline-block;
}



.payments .fas,
.payments .paid{
    color: #4DAC4A;
}
.payments span{
    color: #1056a6;
}
.payments .payment-card{
    border-radius: 5px;
}

.small-text{
    font-size: 13px;
}

.payment-color{
    width: 33px;
    min-height: 145px;
    border-radius: 0 5px 5px 0;
    background: #1056a6;
}
.payment-blue{
    background: linear-gradient(180deg, rgba(94,119,255,0.65) 0%, #1056a6 100%);
}

.packages-btns{
    margin-left: 15px;
}

.mobile-table .mobile-td{
    display: none;
}

.ready-files-row i{
    font-size: 25px;
}
.ready-files-row:hover{
    background-color: #F5F7FD;
}


.packages-pricing{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    display: none;
    color: #fff;
    overflow-y: auto;
    background-color: rgba(50, 60, 71, 0.95);
}
.packages-pricing h4{
    margin-top: 60px;
    line-height: 35px;
}
.packages-pricing ul{
    padding: 0;
    margin: 0 auto;
    text-align: center;
    cursor: default;
}
.packages-pricing ul li{
    margin: 15px 0;
    font-size: 12px;
    list-style: none;
    display: inline-block;
    line-height: 27px;
    font-weight: 600;
}

.packages-pricing ul li span{
    cursor: pointer;
    opacity: 0.48;
}
.packages-pricing ul li span:hover{
    opacity: 0.8;
}
.packages-pricing ul .active-lang span,
.packages-pricing ul .active-lang span:hover{
    opacity: 1;
    padding-bottom: 5px;
    border-bottom: 2px solid #fff;
}


.package-card{
    color: #000;
    cursor: pointer;
    border-radius: 10px;
    border: 3px solid rgba(50, 60, 71, 0.95);
}
.s-pack,
.package-card:hover{
    border: 3px solid #1056a6;
}
.package-bg,
.popular-bg{
    width: 25%;
    position: absolute;
    z-index: 20;
    float: right;
    right: 120px;
}
.visas{
    width: 35px;
}
.package-details .popular-bg{
    position: absolute;
    height: auto;
    right: auto;
    left: -3px;
    top: -1px;
    width: 130px;
}
.package-details .container{
    padding-left: 110px;
}
.p-details{
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 30;
    top: 0;
    padding: 0;
    margin: 0;
}
.package-card-price{
    height: 100%;
    max-width: 125px;
    padding: 20px;
    position: absolute;
    right: 0;
    color: #fff;
    text-align: left;
    font-size: 10px;
    /*font-weight: 600;*/
    text-transform: uppercase;
    border-radius: 0 5px 5px 0;
    background: linear-gradient(270deg, rgba(94,119,255,0.65) 0%, #1056a6 100%);
}
.package-card-price .row{
    height: 100%;
}
.package-card-price span{
    font-size: 25px;
    font-weight: 800;
    text-align: center;
}
.package-rounded{
    border-radius: 10px;
}
.package-details h6{
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 0;
}
.package-details span{
    font-size: 12px;
    font-weight: 600;
}
.package-details img{
    height: 20px;
}

.packages-pricing .package-options li{
    margin: 0 15px;
}
.packages-pricing .package-options li i{
    color: #4DAC4A;
}

.packages-pricing .select-package{
    position: absolute;
    right: -15px;
    top: -15px;
    border-radius: 50%;
    z-index: 33;
    background-color: #1056a6;
    display: none;
}
.packages-pricing .select-package i{
    font-size: 45px;
    color: #fff;
}
.packages-close{
    position: absolute;
    right: 40px;
    top: 15px;
    z-index: 30;
    cursor: pointer;
}
.packages-close a{
    color: #fff;
    font-size: 35px;
    text-decoration: none;
}
#payments-container{
    padding: 50px 0;
    background-color: #F5F7FD;
}
#payments-container .payment-sub-title{
    margin: auto;
    opacity: 0.7;
    font-size: 15px;
    color: #121F3E;
}
.pay-login-form label{
    font-size: 12px;
}
.pay-login-form .signup-link{
    margin: auto;
}
.pay-login-form a{
    color: #000;
    font-size: 13px;
    text-decoration: underline;
    opacity: 0.8;
}
.pay-login-form a:hover{
    opacity: 1;
}

.payment-form{
    padding: 0px;
    border: 1px solid #4A90E2;
}
.payment-header-title{
    font-size: 16px;
}
.payment-header-title span{
    font-size: 13px;
    color: #9B9B9B;
}
.payment-form .payment-form-header{
    width: 100%;
    margin: auto;
    padding: 0;
    background-color: #F2F8FF;
    border-bottom: 1px solid #1056a6;
}
.payment-form .logos-container{
    width: 75px;
    padding: 5px 15px;
    margin: 0 5px;
    text-align: center;
    border-radius: 3px;
    float: right;
    background-color: #26337A;
}
.payment-form img{
    height: 15px;
}
.details-container{
    color: #fff;
}
.details-container div{
    font-size: 14px;
}
.details-container .container{
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(94,119,255,0.65) 0%, #1056a6 100%);
}
.details-container .container hr{
    border-color: #fff;
}
.package-final-title,
.package-final-type,
.package-final-words{
    font-size: 13px;
}
#card-errors{
    margin: 10px auto;
    color: #f00;
}

.pay-login-form .alert{
    width: auto;
    position: relative;
    top: 0;
}
.packages-pricing .sp-1{
    display: block;
}

.packages-pricing .d-block-pack{
    display: block;
}
.packages-pricing .d-none-pack{
    display: none;
}

.payment-status{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
    background-color: rgba(50, 60, 71, 0.95);
}
.payment-status .modal{
    display: block;
}
.payment-status .modal .modal-dialog{
    max-width: none;
    width: 700px;
    margin-top: 150px;
}
.payment-status .modal .modal-dialog .modal-body{
    padding: 50px 0;
}
.payment-status .modal img{
    height: 100px;
}
.payment-status h3{
    margin-bottom: 15px;
    font-weight: 800;
}


select{
    cursor: pointer;
    background: url(../user/img/arrow.jpg) no-repeat right;
    background-size: contain;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-position-x: 100%;

}

.form-group{
    width: 80%;
    margin:auto;
}

.req-note{
    font-size: 13px;
    opacity: 0.75;
}

.req-note .fas{
    color: #4DAC4A;
}




.u-file{
    height: 150px;
    width: 100%;
    outline: none;
    border-radius: 5px;
}
.fileUpload{
    height: 150px;
    position: relative;
    overflow: hidden;
    background-color: #fff;
    border: 2px dashed #1056a6;
    border-radius: 5px;
}
.fileUpload div{
    padding-top: 55px;
    font-size: 13px;
    color: #1056a6;
    transition: 0.2s;
}
.fileUpload:hover>div{
    font-size: 15px;
    transition: 0.2s;
}
.fileUpload input.u-files,
.avatarUpload input.u-files,
.ta-files{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    z-index: 10;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.avatarUpload input.u-files{
    padding: 50px;
}

.target-file{
    width: 100%;
    white-space: normal;
    text-transform: none;
    word-break: break-all;
}

.ta-files{
    width: 100%;
    height: 100%;
}




.up-files{
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.up-files:hover{
    background-color: #F5F7FD;
}
.up-files .fas{
    color: #1056a6;
}
.form-group .f-uploaded{
    color: #4DAC4A;
}
.form-group .fn-uploaded{
    color: #d00;
}
.rm-files{
    cursor: pointer;
}

#uploading-process{
    text-align: center;
    padding: 10px;
    font-size: 13px;
}
.req-alert{
    position: relative;
    top: 0;
}
.small-font{
    font-size: 12px;
}
.circle,
.circle-inside{
    height: 35px;
    width: 35px;
    display: inline-block;
    border-radius: 50%;
    cursor: pointer;
}
.circle-inside{
    cursor: default;
}

.circle-contents{
    height: 170px;
    width: 250px;
    padding: 15px;
    position: absolute;
    right: 100px;
    margin-top: 30px;
    z-index: 300;
    display: none;
}

.circle-contents a{
    color: #000;
    margin: auto;
    margin-top: 15px;
}
.circle-contents:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.circle-contents:before {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 12px;
    margin-left: -10px;
}
.profile-alert{
    width: 100%;
    position: relative;
    top: 0;
    display: block;
}



.appear-chat-header{
    width: 250px;
    padding: 10px 0;
    position: fixed;
    z-index: 100;
    right: 30px;
    bottom: 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    color: #fff;
    text-align: center;
    background-color: #1056a6;
    cursor: pointer;
}

.chat-container{
    height: 480px;
    width: 350px;
    position: fixed;
    z-index: 100;
    right: 30px;
    bottom: 0;
    border-radius: 5px;
    overflow: hidden;
    color: #fff;
    background-color: #fff;
    display: none;
}
.chat-header{
    padding: 15px 0;
    text-align: center;
    background-color: #1056a6;
    cursor: pointer;
}
.chat-body{
    height: 280px;
    padding: 15px;
    overflow-y: auto;
    font-size: 14px;
}
.u-msg{
    word-break: break-all;
    background-color: #1056a6;
}
.a-msg{
    word-break: break-all;
    color: #333;
    background-color: #F5F7FD;
}
.chat-controllers{
    width: 100%;
    position: absolute;
    bottom: 0;
}
.chat-controllers textarea{
    border: none;
    outline: none;
    padding: 5px;
    resize: none;
}

.random-user{
    height: 100%;
    width: 95%;
    display: block;
    padding-top: 100px;
}

.random-user textarea{
    height: 180px;
    resize: none;
    outline: none;
}

.random-user .btn-warning{
    color: #fff;
}
.chat-container .ra{
    display: none;
}
.queue-pos{
    text-align: center;
    font-size: 13px;
    color: #000;
}


#chat-again{
    display: none;
    color: #fff;
}




.nav-large{
    display: none;
}

#contact .alert{
    position: relative;
    top: 0;
    width: auto;
}

.scrollToTop{
    position:fixed;
    bottom: 100px;
    right: 30px;
    color: #555;
    border: 1px solid #555;
    background-color: #fff;
    padding: 15px;
    display:none;
    cursor: pointer;
    z-index: 50;
}
.scrollToTop:hover{
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";       /* IE 8 */
    filter: alpha(opacity=90);  /* IE 5-7 */
    -moz-opacity: 0.9;          /* Netscape */
    -khtml-opacity: 0.9;        /* Safari 1.x */
    opacity: 0.9;  
}
.scrollToTop i{
    font-size: 20px;
}



.package-purple{
    background: linear-gradient(0deg, #AB9FE5 0%, #F6DCFC 100%);
}

.fa-question-circle{
    color: #1056a6;
    cursor: pointer;
}

select,
select option{
    text-transform: capitalize;
}
.tooltip,
.tooltip-inner{
    max-width: 600px;
    width: 600px;
}


.g-recaptcha{
    margin-top: 20px;
}
.g-recaptcha div:first-child{
    margin: auto;
}
.contactus-alert{
    display: none;
}

#req-not-modal{
    display: block;
    background-color: rgba(50, 60, 71, 0.95);
    text-align: center;
    font-size: 20px;
    padding-top: 200px;
    opacity: 1;
}

#req-not-modal i{
    color: #0e0;
    font-size: 80px;
}

.d-file-name{
    word-break: break-all;
}

.supported-files{
    font-size: 14px;
    color: #1056a6;
}

.extra-buttons{
    width: 100%;
    position: fixed;
    bottom: -110px;
    left: 0;
    z-index: 100;
    background-color: #eee;
    border-top: 3px solid #1056a6;
    box-shadow: 0 0 30px #121F3E;
}

.c-req{
    font-size: 10px !important;
}

.refund-package,
.refund-package:active{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 12px !important;
}

.status-can{
    color: #f00;
    font-weight: 900;
    -webkit-text-stroke-width: 2px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.set-words,
.set-words:hover,
.set-words:focus,
.set-words:active,
.set-words:focus:active{
    color: #333;
    font-size: 12px;
    padding: 5px;
}


.btn-saved,
.btn-saved:hover,
.btn-saved:focus,
.btn-saved:active,
.btn-saved:focus:active{
    color: #fff;
    background-color: #0e0;
    box-shadow: 0 0 10px #0e0;
}


































@media (max-width: 1200px){
    .slider div{
        right: -290px;
        opacity: 0;
    }

    #pricing .tool-img{
        height: 700px;
    }

    .signup-account h1{
        letter-spacing: 0px;
        font-size: 65px;
    }
    
    .nav-small{
        display: none;
    }
    .nav-large{
        display: block;
    }
    .left-slider {
        height: 100%;
        background-size: cover;
    }
}
@media (max-width: 992px){

    .slider div{
        right: -350px;
        opacity: 0;
    }
    h1{
        font-size: 33px;
    }
    p{
        color: #999;
    }

    #pricing .tool-img{
        height: 550px;
    }

    hr{
        width: 100%;
    }
    
    footer .footer-logo{
        display: block;
        text-align: center;
    }

    footer{
        padding: 20px 0;
    }

    footer ul{
        width: 100%;
    }

    footer ul li{
        display: block;
        padding: 15px 0;
    }

    .signup-account h1{
        letter-spacing: normal;
        font-size: 60px;
    }

    .dashboard .profile{
        right: 0;
    }

    .dashboard .sidebar {
        height: auto;
    }
    .avatar{
        height: 120px;
        width: 120px;
        margin-top: 30px;
    }

    .list-group{
        margin: 30px 0 0 0;
        padding: 0;
        flex-direction: row;
    }

    .list-group .list-group-item{
        text-align: center;
        padding: 15px 0;
        word-wrap: break-word;
    }

    .list-group .list-group-item img{
        display: block;
        margin: 0 auto;
    }

    .packages-btns,
    .packages-btns:focus,
    .packages-btns:active,
    .packages-btns:active:focus{
        margin: 10px 0;
        font-size: 12px;
        white-space: normal;
    }

    .payment-color {
        width: 100%;
        min-height: 33px;
        border-radius: 0 0 5px 5px;
    }

    
}
@media (max-width: 770px){
    #pricing .container{
        margin-top: 550px;
    }

    .lang-bg{
        margin-top: 740px;
        opacity: 0.3;
    }
    .login-bg{
        display: none;
    }

    

    .content{
        right: 0;
    }
    

    .c-projects,
    .c-projects:focus,
    .c-projects:active,
    .c-projects:active:focus{
        padding: 10px;
    }

    .borderless td{
        font-size: 12px;
    }


    .mobile-table .mobile-tr{
        display: none;
    }
    
    .mobile-table td,
    .mobile-table .mobile-td{
        display: block;
        text-align: center;
    }
    
    .mobile-table .mobile-td{
        font-weight: 800;
        color: #000;
    }

    .mobile-table .mobile-row,
    .mobile-table .mobile-row:hover{
        background-color: #F5F7FD;
    }

    .mobile-table .mobile-row-white,
    .mobile-table .mobile-row-white:hover{
        background-color: #fff;
    }

    .packages ul li{
        font-size: 12px;
        margin-left: 10px;
        padding-right: 0;
    }

    .package-card-price{
        max-width: 100%;
        width: 100%;
        height: auto;
        position: relative;
    }
    .package-details .container{
        padding-left: 0;
    }

    .package-details .first-package{
        padding-left: 110px;
    }

    .left-slider {
        height: 85%;
    }

    #slider h1{
        margin-top: 50px;
    }
}
@media (max-width: 480px){
    .slider-btns{
        width: 80%;
        display: block;
        margin: 30px auto;
    }
    h1{
        margin-top: 130px;
        font-size: 30px;
    }
    p{
        font-size: 12px;
    }

    #pricing .container{
        margin-top: 550px;
    }
    #pricing .tool-img{
        height: 500px;
    }
    
    .lang-bg{
        margin-top: 680px;
        opacity: 0.3;
    }

    #platform{
        padding-top: 250px;
    }
    #platform h2{
        font-size: 1.5rem;
    }
    
    #languages table td{
        font-size: 14px;
    }

    .wraper{
        padding: 10px;
        box-sizing: border-box;
    }

}

.packages-img {
    width: 100%;
}