.profile--info2-icon{
    font-size: 17px;
    padding-right: 11px;
}
.profile--info2 span {
    font-size: 15px;
}
.profile--info3 i{
    font-size: 34px;
    position: absolute;
    top: 5px;
}
.profile--info3 span {
    position: absolute;
    left: 43px;
}
.profile-info1 .name {
    font-size: 18px;
    font-weight: bold;
}
.profile-info1 .role {
    font-size: 14px;
    font-weight: 600;
}
.profile--memberShip{
    background-color: green;
    color: white;
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-radius: 5px;
    font-size: 12px;
}
.profile--link {
    float: right;
    text-decoration: underline;
    color: blue;
}
.profile--link:hover {
    color: blue!important;
    text-decoration: underline;

}
.profile--profile-info2-col {
    position: absolute;
    top: 22px;
}
.profile--info3 {
    position: relative;
    top: 16px;
}
.color--orange{
    color: orange;
}
/*Tabs*/
* {
    box-sizing: border-box;
  }
/* Tabs */
.tabs {
  
    background-color: #f1f1f1
    /* border-radius: 5px 5px 5px 5px; */
  }
  ul#tabs-nav {
    list-style: none;
    margin: 0;
    /* padding: 5px; */
    overflow: auto;
  }
  ul#tabs-nav li {
    float: left;
    font-weight: bold;
    margin-right: 2px;
    padding: 11px 10px;
    padding-left: 7;
    padding-right: 7px;
    /* border-radius: 5px 5px 5px 5px; */
    /*border: 1px solid #d5d5de;
    border-bottom: none;*/
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  ul#tabs-nav li:hover,
  ul#tabs-nav li.active {
    padding-top: 8px;
    padding-bottom: 8px;
    background-color: #e7e7e7;
    border-bottom: 3px solid #1056a6;
  }
  #tabs-nav li a {
    text-decoration: none;
    /* color: #FFF; */
    color: #808fa3;
    font-family: 'Nanum Gothic', sans-serif !important;
    font-size: 14px;
  }
  #tabs-nav li a:hover {
    color: #808fa3!important;
  }
  .edit--note {
    padding-left: 15px;
  }
  .edit--note p{
    color: white!important;
    opacity: 1;
    font-weight: 600;
    border: 1px solid #b9b9b9;
    border-radius: 3px;
    margin-bottom: 14px;
    background: #1056a6;
    padding-left: 12px;
  }
  .tab-content {
    padding: 10px;
    background-color: #FFF;
  }
  .update--btn {
    
    color: #fff;
    padding: 0.5em 1em;
    text-decoration: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 15px;
  }
  .update--up-btn {
    background: #1056a6;
  }
  .update--cancel-btn{
    background: #eee;
    color: #aaa;
  }
  .profile--tab2-main-container {
    width: 100%;
    border-radius: 3px;
    padding: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 2px solid #e7e7e7;
    border-left: 4px solid #1056a6;
    margin-bottom: 3px;
  }
  .profile--tab2-main-content{
    border-radius: 3px;
    padding: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 2px solid #e7e7e7;
    margin-bottom: 3px;

  }
  .profile--answer{
    color: white!important;
    font-weight: bold;
    text-align: center;
    border-radius: 3px;
    
  }
  .profile--answer-yes{
    background-color: green;
  }
 
  .profile--documents-link{
    font-size: 15px!important;
    text-decoration: underline;
    color: blue!important;
  }
  .profile--documents-link:hover{
    color: blue!important;

  }
  .profile--arrow-down{
    transform: rotate(360deg);
    transition: 0.5s all ease-in-out
  }
  .profile--arrow-up {
    transform: rotate(180deg);
    transition: 0.5s all ease-in-out
  }
  .profile--check-show{
    position: relative;
    top: 6px;
    color: #c1c1c1;
    margin-left: 9px;
  }
  .profile--check{
    color:#4CAF50!important;
}
  .profile--basic-info{
    color: #808fa3!important;
    font-size: 15px;
    text-align: left;
  }
  .profile--answer-no {
    background-color: #d90606;
  }
  .profile--tool{
    background-color: #1056a6;
  }
  .profile--tab2-source-lang {
    border: 2px solid;
    border-color: #808fa3;
    border-radius: 3px;
    font-size: 17px;
    color: #808fa3!important;
    padding: 11px;
  }
  .profile--tab2-main-content {
    margin-top: 5px;
    padding: 24px;
    padding-bottom: 47px;

  }
  .profile--native-lang{
    margin-right: 3px;
    border: 2px solid;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 3px;
  }
  
  
