  /* body {
    font-family: "Open Sans";
    background: #2c3e50;
    color: #ecf0f1;
    line-height: 1.618em;
  } */
  .wrapper {
    /* max-width: 50rem; */
    width: 100%;
    margin: 0 auto;
  }

  .tabs {
    position: relative;
    margin: 3rem 0;
    background: #f1f1f1;
    height: 14.75rem;
  }
  .tabs::before,
  .tabs::after {
    content: "";
    display: table;
  }
  .tabs::after {
    clear: both;
  }
  .tab {
    float: left;
  }
  .tab-switch {
    display: none;
  }
  .tab-label {
    position: relative;
    display: block;
    line-height: 2.75em;
    height: 3em;
    padding: 0 1.618em;
    background: #f1f1f1;
    /* border-right: 0.125rem solid #f1f1f1; */
    color: #808fa3;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    top: 0;
    transition: all 0.25s;
  }
  .tab-label:hover {
    top: -0.25rem;
    transition: top 0.25s;
  }
  .tab-content {
    height: 12rem;
    position: absolute;
    z-index: 1;
    top: 2.75em;
    left: 0;
    padding: 1.618rem;
    background: #fff;
    color: #2c3e50;
    border-bottom: 0.25rem solid #bdc3c7;
    opacity: 0;
    transition: all 0.35s;
  }
  .tab-switch:checked + .tab-label {
    background: #e7e7e7;
    color: #2c3e50;
    border-bottom: 0;
    border-bottom: 3px solid #1056a6;
    /* border-right: 0.125rem solid #fff; */
    transition: all 0.35s;
    z-index: 1;
    top: -0.0625rem;
    
  }
  .tab-switch:checked + label + .tab-content {
    z-index: 2;
    opacity: 1;
    transition: all 0.35s;
  }


  